body {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

#countdown {
  font-size: 26px;
  margin: 20px;
}

#progressBar {
  width: 80%;
  height: 20px;
  background: #eee;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

#progress {
  height: 100%;
  background: #3498db;
  width: 0%;
}
